<div class="panel-heading">
  Friend Requests
</div>

<div class="panel-body">
  <% for(var i = 0; i < friend_requests.length; i++) { %>
    <div class="requester-fullname">
      <%= friend_requests.models[i].escape('fname') %>
       <%= friend_requests.models[i].escape('lname') %>
    </div>
    <button class="accept-friend-request btn btn-primary btn-xs"
            data-friend-id="<%= friend_requests.models[i].escape('user_id') %>">
      Confirm
    </button>
  <% } %>
</div>
