<div class="comment-form">
  <form>
  <div class="form-group">
    <input type="text"
           class="form-control comment-content"
           name="content"
           placeholder="Write a comment...">
    </div>
    <button class="btn btn-primary btn-xs">
      Comment
    </button>
  </form>
</div>
