<div class="comment-form">
  <form>
    <input type="text"
           class="comment-content form-control"
           name="content"
           placeholder="Write a comment...">

    <button class="btn btn-primary btn-xs">
      Comment
    </button>
  </form>
</div>
