<div class="post-form">
  <form>
    <div class="form-group">
      <input type="text"
           class="form-control post-content"
           name="content"
           placeholder="Write something...">
    </div>

    <div class="photo-filename">
    </div><br>

    <button class="add-photo btn btn-primary btn-sm">
      Add Photo
    </button>

    <button class="create-post btn btn-primary btn-sm">
      Post
    </button>
  </form>
</div>
