<h3>New Post</h3>

<form>
  <textarea name="content"></textarea>
  <input
    type="filepicker"
    name="picture"
    data-fp-mimetype="image/*"
    data-fp-services="COMPUTER">
  <button>Post</button>
</form>
