<div class="post-form">
  <form>
    <div class="form-group">
      <textarea class="form-control new-post-content"
                name="content"
                placeholder="Write something..."></textarea>
    </div>

    <div class="photo-preview">
    </div>

    <button class="add-photo btn btn-primary btn-sm">
      Add Photo
    </button>

    <button class="create-post btn btn-primary btn-sm">
      Post
    </button>
  </form>
</div>
