<div class="post-form">
  <form>
    <input type="text"
           class="post-content form-control"
           name="content"
           placeholder="Write something...">
           
    <button class="add-photo btn btn-primary btn-sm">
      Add Photo
    </button>

    <button class="create-post btn btn-primary btn-sm">
      Post
    </button>
  </form>
</div>
