<div class="signup-body">
  <div class="signup-sub-body">
    <div class="title">Sign Up</div>

    <div class="signup-form">
      <form action="/users" method="post" data-toggle="validator" role="form">
        <%= auth_input %>

        <div class="form-group col-md-4">
          <input type="text"
                 name="user[fname]"
                 placeholder="First name"
                 class="form-control"
                 data-error="Please enter first name"
                 required>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group col-md-4">
          <input type="text"
                 name="user[nickname]"
                 placeholder="Nickname (optional)"
                 class="form-control">
        </div>

        <div class="form-group col-md-4">
          <input type="text"
                 name="user[lname]"
                 placeholder="Last name"
                 class="form-control"
                 data-error="Please enter last name"
                 required>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group col-md-6">
          <input type="email"
                 name="user[email]"
                 placeholder="Email"
                 class="email form-control"
                 data-error="Please enter valid email"
                 required>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group col-md-6">
          <input type="password"
                 name="user[password]"
                 placeholder="Password"
                 class="password form-control"
                 data-error="Please enter valid password (minimum 6 characters)"
                 required>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group col-md-4">
          <div class="radio-inline">
            <label>
              <input type="radio" name="user[gender]" value="Female">
              Female
            </label>
          </div>

          <div class="radio-inline">
            <label>
              <input type="radio" name="user[gender]" value="Male">
              Male
            </label>
          </div><br>
        </div>

        <div class="form-group col-md-4">
          <div class="dance-style-select">
            <select name="user[dance_style]"
                    class="form-control dance-style-dropdown">
              <option value="" disabled selected>Dance Style</option>
              <% @dance_styles.each do |ds| %>
                <option value="<%= ds %>"><%= ds %></option>
              <% end %>
            </select>
          </div>
        </div>

        <div class="form-group col-md-4">
          <input type="text"
                 name="user[company]"
                 placeholder="Dance Company"
                 class="form-control"
                 data-error="Please enter dance company"
                 required>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group col-md-6">
          <input type="text"
                 name="user[job_title]"
                 placeholder="Job Title (optional)"
                 class="form-control">
        </div>

        <div class="form-group col-md-6">
          <input type="text"
                 name="user[school]"
                 placeholder="School (optional)"
                 class="form-control">
        </div>

        <div class="form-group col-md-6">
          <input type="text"
                 name="user[current_city]"
                 placeholder="Current City (optional)"
                 class="form-control">
        </div>

        <div class="form-group col-md-6">
          <input type="text"
                 name="user[hometown]"
                 placeholder="Hometown (optional)"
                 class="form-control">
        </div>

        <div class="form-group col-md-12">
          <textarea name="user[bio]"
                    placeholder="Bio (optional)"
                    class="form-control"></textarea>
        </div>

        <div class="form-group col-md-12">
          <input type="submit"
                 value="Sign Up"
                 class="login-button btn btn-success btn-lg btn-block">
        </div>
      </form>
    </div>
  </div>
</div>
