<ul class="about-list">
  <% if (friendship) { %>
    <% if (show_info) { %>
      <li>
        Email: <%= friendship.escape('email') %>
      </li>
    <% } %>

    <li>
      Gender: <%= friendship.escape('gender') %>
    </li>
  <% } %>
</ul>
