<% if (friendship) { %>
  <div class="panel panel-info">
    <div class="panel-heading">
      Basic Information
    </div>

    <table class="table">
      <% if (show_info) { %>
        <tr>
          <td>Email</td>
          <td><%= friendship.escape('email') %></td>
        </tr>
      <% } %>

      <tr>
        <td>Gender</td>
        <td><%= friendship.escape('gender') %></td>
      </tr>
    </table>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      Bio
    </div>
    <div class="panel-body">
      <%= friendship.escape('bio') %>
    </div>
  </div>
<% } %>
