<h2>Profile for User <%= user_id %></h2>

<% if (friend_button_val) { %>
  <button class="friend-button"><%= friend_button_val %></button>
<% } %>

<div class="new-post">
</div>

<div class="received-posts">
</div>
