.about {
  margin-top: 10px;
}

.about .table {
  border-radius: 3px;
}

.about .panel .panel-heading,
.friends .panel .panel-heading {
  background: #92b5f2;
  color: black;
}

.about h3,
.about .table caption {
  font-weight: 700;
}

.about h3 {
  margin-top: 10px;
}

.about .panel-body {
  padding: 30px;
}

.about .table caption {
  padding-left: 8px;
}

.table.contact-basic-info tr td:first-child,
.table.dance-info tr td:first-child,
.table.location-info tr td:first-child {
  color: #777777;
  width: 300px;
}

.edit-nickname,
.edit-job-title,
.edit-school,
.edit-current-city,
.edit-hometown,
.edit-bio {
  float: right;
}

.save-nickname,
.save-job-title,
.save-school,
.save-current-city,
.save-hometown,
.save-bio {
  margin-top: 10px;
}

.cancel {
  margin: 10px 0 0 10px;
}
