.comments {
  font-size: 14px;
  padding: 0 20px;
}

.comments > div {
  margin: 10px 0;
}

.comment-author-profile-pic,
.current-user-profile-pic {
  width: 45px;
  height: 45px;
  float: left;
  position: relative;
  margin-right: 8px;
  border-radius: 3px;
  border: 1px solid #d0d0d0;
}

.comments .comment-likers {
  display: inline-block;
  margin-left: 10px;
}

.comment-likers {
  font-size: 12px;
}

.new-comment {
  margin-top: 10px;
  padding: 0 20px 20px 20px;
}

.comment-form .comment-content {
  width: calc(100% - 53px);
  float: right;
  padding: 21px 12px;
}

.comment-form button {
  float: right;
}
