.posts,
.post-form {
  width: 500px;
  margin: 10px auto;
  padding: 10px 50px;
  background: dodgerblue;
  color: black;
}

.post-form,
.post {
  background: dodgerblue;
}

.post-index-item {
  padding: 20px 0;
}

.post-author-recipient {
  color: lightsteelblue;
}

.post-author,
.post-recipient {
  color: indigo;
}

// .post-content.form-control {
//   width: 95%;
// }

.likers {
  font-size: 14px;
}
