.posts,
.post-form {
  width: 600px;
  background: dodgerblue;
  color: black;
}

.posts.col-md-4,
.post-form.col-md-4 {
  width: 600px;
}

.post-form,
.post {
  background: dodgerblue;
}

.post-index-item {
  padding: 20px 0;
}

.post-author-recipient {
  color: lightsteelblue;
}

.post-author,
.post-recipient {
  color: indigo;
}

.likers {
  font-size: 14px;
}

.post img {
  max-width: 100%;
  height: auto;
}
