.new-post,
.received-posts {
  float: right;
}

.new-feed-post .post-form,
.feed-posts .posts {
  width: 900px;
  margin: 0 auto;
}

.posts,
.post-form {
  width: 600px;
  color: black;
}

.posts,
.post-form {
  width: 600px;
  padding: 0;
}

.form-control.new-post-content {
  height: 100px;
}

.photo-preview > img {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.post-form > form,
.post-index-item,
.feed-title {
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #bce8f1;
  border-radius: 5px;
  background: cornflowerblue;
}

.post-form > form {
  margin-top: 10px;
}

.post-form-text {
  margin-bottom: 10px;
}

.post-author-recipient {
  margin-bottom: 20px;
  color: lightsteelblue;
}

.post-author,
.post-recipient,
.post-author:hover,
.post-recipient:hover,
.comment-author,
.comment-author:hover {
  color: indigo;
}

.post-author,
.post-recipient,
.comment-author {
  font-weight: 700;
}

.post-author-profile-pic {
  width: 50px;
  height: 50px;
  float: left;
  position: relative;
  margin-right: 8px;
  border-radius: 3px;
  border: 1px solid #d0d0d0;
}

.post-content {
  width: 100%;
  margin: 10px 0;
}

.post .post-like {
  margin: 10px 0;
}

.post-likers,
.comment-likers {
  font-size: 14px;
}

.post img {
  width: 100%;
  height: auto;
  border: 1px solid #bce8f1;
}

.post-error {
  position: relative;
  width: 100%;
}
