.user-basic-info,
.friend-requests {
  margin-left: 50px;
}

.friend-button {
  margin-left: 60px;
}

.user-fullname,
.dance-info,
.profile-picture {
  color: white;
  font-size: 24px;
  margin: 10px;
}

.dance-info {
  font-size: 20px;
}

.profile-picture {
  width: 300px;
  height: 300px;
}

.profile-picture > img {
  max-width: 100%;
  max-height: 100%;
}

.requester-fullname {
  padding-right: 10px;
}
