.user-basic-info,
.friend-requests,
.friend-button {
  margin-left: 50px;
}

.user-fullname,
.dance-info,
.profile-picture {
  color: white;
  font-size: 24px;
  padding: 10px;
}

.dance-info {
  font-size: 20px;
}

.profile-picture {
  width: 300px;
}

.requester-fullname {
  padding-right: 10px;
}
