.cover-photo-area {
  height: 250px;
  border: 1px solid #bce8f1;
  border-top: 0;
}

.friend-button {
  position: relative;
  bottom: 50px;
  left: 590px;
}

.user-fullname {
  position: relative;
  top: 200px;
  left: 240px;
  color: white;
  font-size: 24px;
}

.profile-picture {
  width: 200px;
  height: 200px;
  position: relative;
  top: 44px;
  left: 20px;
  border: 1px solid #bce8f1;
  border-radius: 3px;
}

.profile-picture > img {
  max-width: 100%;
  max-height: 100%;
}

.profile-navbar {
  background: cornflowerblue;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-left: 1px solid #bce8f1;
  border-right: 1px solid #bce8f1;
  border-bottom: 1px solid #bce8f1;
}

.profile-nav-buttons {
  margin-left: 240px;
  z-index: 0;
}

.requester-fullname {
  padding-right: 10px;
}

.panel.friend-item {
  width: 430px;
  margin: 15px 8px 0;
  display: inline-block;
}

.friends {
  margin-bottom: 20px;
}

.friend-item:hover {
  cursor: pointer;
  box-shadow: 0px 0px 20px white;
}

.user-info {
  font-size: 12px;
  background: cornflowerblue;
  border-radius: 3px;
}

.user-info.col-md-4,
.friend-requests.col-md-4 {
  width: 290px;
  margin-top: 10px;
  border: 1px solid #bce8f1;
}

.user-info-item {
  margin: 10px 0;
  span.glyphicon {
    display: inline-block;
    float: left;
  }
  span:last-of-type {
    display: inline-block;
    margin-left: 15px;
    width: calc(100% - 30px);
  }
}

.friend-requests.col-md-4 {
  float: left;
  margin: 10px 0;
  padding-left: 0;
  padding-right: 0;
  border-radius: 3px;
}

.friend-requests .panel-heading {
  font-size: 14px;
  background: cornflowerblue;
}

.friend-requests .panel-body {
  font-size: 12px;
}

.about {
  margin-top: 10px;
}

.about .table {
  border-radius: 3px;
}

.about .panel .panel-heading,
.friends .panel .panel-heading {
  background: cornflowerblue;
  color: black;
}

.btn.change-profile-pic {
  position: relative;
  left: 160px;
  top: 166px;
  background: transparent;
  border: 0;
}

.btn.change-profile-pic:hover {
  background: transparent;
  box-shadow: 0px 0px 20px white;
}
