.search-form form .search-query {
  width: 400px;
}

.search-items {
  width: 480px;
  border-radius: 5px;
}

.search-form {
  float: left;
}

.search-form form {
  margin-top: 15px;
}

.search-query-and-items {
  position: relative;
}

.search-items {
  position: absolute;
  z-index: 1;
  background: white;
}

.search-item > div {
  margin: 0;
  padding: 5px;
}

.search-item > div:hover {
  cursor: pointer;
  background: #d0d0d0;
}

.search-item-profile-pic {
  width: 50px;
  height: 50px;
  float: left;
  position: relative;
  margin-right: 8px;
  border-radius: 3px;
}

.search-item-name {
  font-size: 14px;
  font-weight: 700;
}

.search-item-style,
.search-item-company {
  font-size: 12px;
}
