// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-body {
  background-image: asset_url("login-background.jpg");
  background-size: cover;
  background-position: center 80%;
}

.login-sub-body {
  margin: 0 auto;
  width: 1100px;
  height: 100%;
}

.login-form {
  float: right;
  margin: 20% 0;
  width: 300px;
  background: white;
  border-radius: 10px;
  border: 1px solid gray;
}

.site-description {
  width: 530px;
  color: white;
  float: left;
  margin: 5% 0;
}

.site-description .title {
  font-size: 24px;
  text-align: left;
  margin: 40px 0;
}

.newsfeed-description,
.timeline-description {
  margin: 40px 0;
}

.newsfeed-description div:first-of-type,
.timeline-description div:first-of-type {
  display: inline-block;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 700;
}

.newsfeed-description div:last-of-type,
.timeline-description div:last-of-type {
  display: inline-block;
}

.login-form .title {
  margin: 10px 0;
}

.login-form-body {
  overflow: auto;
}

.guest-login-button {
  margin-bottom: 10px;
}

.signup-link {
  margin-bottom: 10px;
  text-align: center;
}
