// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dance-style-select,
.dance-style-label,
.dance-style-dropdown {
  margin-top: 15px;
  margin-bottom: 15px;
}

.dance-style-label {
  font-size: 24px;
}
