// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-form .help-block.with-errors,
.signup-form .help-block.with-errors {
  margin: 0;
}

.login-form .form-group,
.signup-form .form-group {
  margin: 10px 0;
}

.login-form ul.list-unstyled,
.signup-form ul.list-unstyled {
  margin-bottom: 0;
}

.login-body,
.signup-body {
  position: absolute;
  width: 100%;
  height: 100%;
}

.signup-body {
  background-image: asset_url("signup-background.jpg");
  background-size: cover;
  background-position: center center;
}

.signup-body .title {
  margin-top: 100px;
  margin-bottom: 20px;
  margin-left: 290px;
}

.signup-form {
  margin: 0 auto;
  width: 900px;
}

.signup-form form {
  overflow: auto;
  margin-left: 290px;
}

.signup-form .radio-inline {
  color: white;
}
